@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:wght@300;400;500;600&display=swap');

* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

:root {
    --color-bg: #03045E; 
    --color-dblue: #023E8A;
    --color-lblue: #0096C7;
    --color-sblue: #48CAE4;
    --color-slblue: #ADE8F4; 
    --color-white: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--color-bg);
    margin: 0;
}

.GameSetupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem;  
    flex-direction: column;
}

.GameSetupContainer h3{
    font-size: 3.5rem; 
    color: var(--color-white);
    margin-bottom: 2rem;    
}

.GameSetup {
    background: var(--color-white);
    border-radius: 1.5rem; 
    width: 100%;
    max-width: 700px;  
    padding: 4rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem; 
}

h1 {
    font-size: 2.8rem; 
    color: var(--color-dblue);
    margin: 0;
}

h2.players {
    font-size: 2rem; 
    color: var(--color-dblue);
    margin-bottom: 1.5rem;
}

button {
    background-color: var(--color-lblue);
    border: none;
    color: var(--color-white);
    padding: 1.5rem 2rem; 
    font-size: 1.75rem; 
    border-radius: 6px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--color-sblue);
}

input {
    text-align: center;
    font-size: 2rem; 
    width: 4rem;
    padding: 1rem;  
    border-radius: 6px;
    border: 2px solid var(--color-lblue);
    color: var(--color-dblue);
    margin: 0 2rem; 
}

button:disabled {
    background-color: var(--color-slblue);
    cursor: not-allowed;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;  
}
